---
Language: Cpp
ColumnLimit: 0
IndentWidth: 4
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
SpaceBeforeParens: ControlStatements
PointerBindsToType: true
SpacesBeforeTrailingComments: 1
Cpp11BracedListStyle: true
Standard: Cpp11
BreakBeforeBraces: Mozilla
# BraceWrapping:
#     AfterClass: true
#     AfterControlStatement: false
#     AfterEnum: false
#     AfterFunction: true
#     AfterNamespace: true
#     AfterStruct: true
#     AfterUnion: true
#     BeforeCatch: false
#     BeforeElse: false
#     IndentBraces: false

SpacesInAngles: false
SpacesInParentheses: false
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpaceBeforeAssignmentOperators: true
BreakConstructorInitializersBeforeComma: true
AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: false
AlwaysBreakTemplateDeclarations: false
AlwaysBreakBeforeMultilineStrings: false
BreakBeforeBinaryOperators: false
BreakBeforeTernaryOperators: false
BinPackParameters: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentCaseLabels: false
MaxEmptyLinesToKeep: 2
NamespaceIndentation: None
AccessModifierOffset: -4
